// * use : mixin
@use 'modules/sub-mixin/mixin' as mx;
@use 'modules/sub-mixin/variable' as var;

// * use : element components
// ? : basic-style
@use 'modules/basic-style';
// ? : header-section
@use 'modules/main-header';
// ? : about-section
@use 'modules/main-about';
// ? : portfolio-section
@use 'modules/main-portfolio';
// ? : blogs-section
@use 'modules/main-blogs';
// ? : contact-section
@use 'modules/main-contact';
// ? : media-query
@use 'modules/media-query';

// * import : google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

// ? : Light theme website
.light-theme {
  $color-primary: #fff;
  $color-secondary: #f56692;
  $color-white: #454e56;
  $color-black: #000;
  $color-gray-0: #f8f8f8;
  $color-gray-100: #6c7983;
  $color-gray-200: #6c7983;
  $color-gray-300: #6c7983;
  $color-gray-400: #454e56;
  $color-gray-500: #f8f8f8;
  $color-gray-600: #12181b;
}

// Todo Indepedent components :

// ? : control btn
.btn-con {
  display: flex;
  align-self: flex-start;
}
.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var.$color-secondary;
  @include mx.flex-box();
  overflow: hidden;
  .btn-text {
    padding: 0 2rem;
  }
  .btn-icon {
    background-color: var.$color-secondary;
    @include mx.flex-box();
    border-radius: 50%;
    padding: 1rem;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-100%);
    @include mx.transDef();
    z-index: -1;
  }
  &:hover {
    &::before {
      width: 100%;
      height: 100%;
      background-color: var.$color-secondary;
      transform: translateX(0);
    }
  }
}

// ? : theme btn
.theme-btn {
  position: fixed;
  top: 5%;
  right: 3%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  background-color: var.$color-gray-400;
  border-radius: 50%;
  @include mx.flex-box();
  margin: 0.7rem 0;
  box-shadow: 0 3px 15px rgba($color: #000000, $alpha: 0.2);
  @include mx.transDef(all, 0.6);
  &:active {
    transform: translateY(-5px);
  }
}
